$card-height: 11rem;
$card-width: 8rem;
$card-height-ratio: calc($card-height / $card-width);

$card-flip-scale: 0.5;
$card-flip-scale-reverse: calc(1 / $card-flip-scale);

$card-border-radius: 5px;

html {
  font-size: 14px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
  @media (min-width: 1024px) {
    font-size: 18px;
  }
  // @media (min-width: 1280px) {
  //   font-size: 20px;
  // }
}

body {
  background-color: #f6f6f0;
  font-family: Verdana, Geneva, sans-serif;
  padding: 0;
  margin: 0;
  min-width: fit-content;
  position: fixed;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

#root {
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100vh;

  > div {
    margin-bottom: -200px;
  }
}

@mixin safariFriendlyOutlineBorderRadius($color) {
  position: absolute;
  $thinkness: 7px;
  $offset: 1px;
  $thinkness-and-offset-inverse: calc(-1 * ($thinkness + $offset));
  top: $thinkness-and-offset-inverse;
  right: $thinkness-and-offset-inverse;
  bottom: $thinkness-and-offset-inverse;
  left: $thinkness-and-offset-inverse;
  border: $thinkness solid $color;
  border-radius: calc($card-border-radius + $offset);
}

@mixin grid($rows-n, $cols-n) {
  //$gap: calc(10px + 2vw);
  $gap: calc(2.25vw);

  $width: min($card-width, calc((100vw - ($gap * ($cols-n))) / $cols-n));
  $height: calc($width * $card-height-ratio);

  $width-adjusted: calc($width * $card-flip-scale-reverse);
  $height-adjusted: calc($height * $card-flip-scale-reverse);

  .cards {
    position: relative;
    display: grid;
    grid-template: repeat($rows-n, $height) / repeat($cols-n, $width);
    gap: $gap;

    .card-outer {
      position: relative;
      width: $width-adjusted;
      height: $height-adjusted;
      $horizontal: calc(($width-adjusted / 4));
      $vertical: calc(($height-adjusted / 4));
      right: $horizontal;
      top: calc(-1 * $vertical);
      left: calc(-1 * $horizontal);
      bottom: $vertical;
    }
  }
  margin: auto;
}

@mixin displayCard {
  transform: rotateY(180deg) scale(1);
  $scale: 1.5;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

@mixin displayCardReverse {
  transform: rotateY(0) scale($card-flip-scale);
  width: 100%;
  height: 100%;
}

.overlay {
  transition: background-color 0.75s;
  transition-timing-function: ease-in;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;

  &.on {
    background-color: #0000001c;
    backdrop-filter: blur(0.8px);
  }

  &:not(.on) {
    pointer-events: none;
  }
}

@mixin fadeBottom($offset, $background) {
  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: $offset;
    left: $offset;
    pointer-events: none;
    background-image: linear-gradient(
                    to bottom,
                    rgba(255, 255, 255, 0),
                    $background 100%
    );
    width: calc(100% - $offset * 2);
    height: 4em;
  }
}

.match-prompt {
  transition: opacity 1s;
  position: absolute;
  z-index: 1000;
  width: 100%;
  text-align: center;
  @media (min-width: 1600px) {
    top: -100px;
  }
  @media screen and (min-width: 0px) and (max-width: 1600px) {
    top: 50px;
  }

  &.on {
    opacity: 1;
  }

  h1 {
    font-size: 2.25rem;
  }

  h1.is-match {
    color: #41d53f;
    text-transform: uppercase;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    animation-name: pulse;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #00000094;
  }

  h1:not(.is-match) {
    color: #cc2a2a;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #00000094;
  }

  &:not(.on) {
    pointer-events: none;
    opacity: 0;
    transition-delay: 0s;
  }
}

.end-prompt {
  pointer-events: none;
  transition: opacity 1s;
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  .text {
    color: #fa7b38;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);

    .small {
      font-size: 0.8rem;
      opacity: 0.7;
      margin-top: 5px;
    }
  }

  opacity: 0;

  &.on {
    opacity: 1;
  }
}

.tip-promt {
  position: absolute;
  bottom: -40px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.671);
  font-size: 0.9rem;
  text-align: center;
  transform: scale(-1, 1);
}

.loading-promt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  color: #909090;
}

#root > div {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .title {
    text-align: center;
    font-size: 3.5rem;
    @media (max-width: 600px) {
      font-size: 2rem;
    }
    margin-top: 2rem;

    span {
      color: #ef7d44;
    }
  }

  .cards-outer {
    > .pointer {
      @media screen and (not (hover: none)) {
        cursor: pointer;
      }
    }

    @media (min-width: 1000px) {
      @include grid($rows-n: 2, $cols-n: 8);
      margin-top: 50px;
    }
    @media screen and (min-width: 0px) and (max-width: 1000px) {
      @include grid($rows-n: 4, $cols-n: 4);
    }

    .cards {
      animation-name: fadeIn;
      animation-duration: 2s;

      .card-outer {
        position: relative;
        pointer-events: none;

        .card {
          width: 100%;
          height: 100%;
          max-width: 100%;
          justify-self: stretch;
          border-radius: 12%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          position: relative;
          perspective: 500px;

          .inner {
            pointer-events: all;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            transform-style: preserve-3d;

            &:hover {
              cursor: pointer;
            }
          }

          .click-filler-card {
            pointer-events: all;
            height: 100%;
            width: 100%;
            transform: scale(0.5);
            position: absolute;

            &:hover {
              cursor: pointer;
            }
          }

          .back,
          .front {
            position: absolute;
            height: 100%;
            width: 100%;
            text-align: center;
            backface-visibility: hidden;
          }

          div {
            border-radius: $card-border-radius;
          }

          .back {
            z-index: 2;
            background-color: white;
            color: black;
            transform: rotateY(180deg);
            word-break: break-word;
            overflow: hidden;

            .sub {
              box-sizing: border-box;
              height: 100%;
              padding: 5px;
              display: flex;
              flex-direction: column;
              overflow: hidden;

              .type {
                text-transform: capitalize;
                font-weight: 700;
                font-size: 1.6rem;
                display: flex;
                align-items: center;
                justify-content: center;

                .icon {
                  margin-bottom: -8px;

                  svg {
                    @media (max-width: 1600px) {
                      scale: 0.8;
                      margin-right: -10%;
                    }
                  }
                }

                word-break: keep-all;
                @media (max-width: 1600px) {
                  font-size: 1.4rem;
                }
              }

              $border-width: 4px;

              .text {
                flex-grow: 1;
                margin-top: 10px;
                overflow-y: scroll;
                padding-bottom: 5px;
              }

              &.comment {
                $background: #f6f6f0;
                background-color: $background;
                border: $border-width solid #ffc0a0;

                .text {
                  @include fadeBottom(
                          $offset: $border-width,
                          $background: $background
                  );
                }
              }

              &.post {
                $background: #fcdbcb;
                background-color: $background;
                border: $border-width solid #fc935e;

                .text {
                  @include fadeBottom(
                          $offset: $border-width,
                          $background: $background
                  );
                }
              }
            }
          }

          .front {
            background-color: #fa7b38;

            &::before {
              content: "Y";
              font-size: 10rem;
              color: white;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translateY(-50%) translateX(-50%);
            }

            transition: border 0.15s;

            &.selected {
              @include safariFriendlyOutlineBorderRadius(
                      $color: rgb(62, 62, 62)
              );
              cursor: not-allowed;
            }

            &:not(.selected) {
              @include safariFriendlyOutlineBorderRadius(
                      $color: rgba(0, 0, 0, 0)
              );
            }
          }
        }
      }
    }
  }
}

@keyframes flip {
  0% {
    @include displayCardReverse();
  }
  100% {
    @include displayCard();
  }
}

@keyframes flipBack {
  0% {
    @include displayCard();
  }
  100% {
    @include displayCardReverse();
  }
}

@keyframes increasedZIndex {
  0% {
    z-index: 100;
  }
  100% {
    z-index: 100;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
